services:
  api-v1:
    build:
      context: .
      dockerfile: src/api/v1/Dockerfile
    expose:
      - "8000"
    environment:
      - MODEL_PATH=/app/model.joblib

  api-v2:
    build:
      context: .
      dockerfile: src/api/v2/Dockerfile
    expose:
      - "8000"
    environment:
      - MODEL_PATH=/app/model.joblib
  nginx:
    build:
      context: deployments/nginx
      dockerfile: Dockerfile
    ports:
      - "8080:80"
      - "8443:443"
    depends_on:
      - api-v1
      - api-v2

  nginx_exporter:
    image: nginx/nginx-prometheus-exporter:latest
    command:
      - "-nginx.scrape-uri=http://nginx:80/stub_status"
    depends_on:
      - nginx
    expose:
      - "9113"

  prometheus:
    image: prom/prometheus:latest
    ports:
      - "9090:9090"
    volumes:
      - ./deployments/prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus
    depends_on:
      - nginx
      - nginx_exporter

  grafana:
    image: grafana/grafana:latest
    ports:
      - "3000:3000"
    volumes:
      - grafana_data:/var/lib/grafana
    depends_on:
      - prometheus
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=admin

volumes:
  prometheus_data:
  grafana_data: